@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-background: #F4EAC1;
  --color-foreground: #464F3D;
  --color-primary: #C1D8AB;
  --color-section-alt: #EDE3B8;
  --color-secondary: #90776B;
  --color-card: #9BA079;

  --color-cta: #464F3D;
  --color-cta-text: #F4EAC1;
  --color-cta-hover: #3A4132;

  --color-input-bg: #FFFFFF;
  --color-input-border: #D6CFC2;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
